<div class="col-9" table-responsive>

    <table class="table mt-3 table-stripped"  style="background-color: gray;">
        <thead class="thead-dark">
            <tr>
                <th class="h1">Sl NO</th>
                <th class="h2">Name</th>
                <th class="h3">Address</th>
                <th class="h4">City</th>
                <th class="h5">Package</th>
                <th class="h6">Trainer Preference</th>
                <th class="h7">Phone</th>
                

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of User">
                <td>
                    {{user.id}}
                </td>
                <td>
                    {{user.firstname}}
                </td>
                <td>
                    {{user.address}}
                </td>
                <td>
                    {{user.city}}
                </td>
                <td>
                    {{user.fitnessPackage}}
                </td>
                <td>
                    {{user.trainer}}
                </td>
      
                 <td>
                    {{user.number}}
                </td>
                <td><button type="button" class="btn btn-primary" (click)="setId(user.id)" data-toggle="modal" data-target="#exampleModal">
                    Delete
                  </button>
                    
                
          </tr>
        </tbody>
    </table>

</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this record?
          <!-- <app-place-fitness-trainer-appointment></app-place-fitness-trainer-appointment> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="onDelete( )">Delete</button>
        </div>
      </div>
    </div>
  </div>